body {
    background-image: url("../img/other/library.jpg");
}

div.background {
    background-color: rgba(250, 235, 215, 0.85);
    /* opacity: 97%; */
}

ul.list {
    list-style-type: none;
    margin-left: -3%;
}

.home-options-text {
    margin-top: 2%;
}

