{% extends 'pages/base.html' %}

{% block content %}
    <h1>{{ author.full_name }}</h1>

    <img class="img-thumbnail rounded" src="../../../static/img/{{ author.image }}" alt=""><br>
    <p>Born in {{ author.birth_year }}</p>
    <p>Country: {{ author.country }}</p>
    <p>Books: 
        {% for book in author.books.all %}
        <ul>
                <li><a href="/book/{{ book.id }}">{{ book.title }}</a></li>
        </ul>
    {% endfor %}</p>

    <a href="update/"><button class="btn btn-primary m-3" type="submit">Update</button></a>
    <a href="delete/"><button class="btn btn-danger m-3" type="submit">Delete</button></a>
{% endblock %}